@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  position: fixed;
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  height: 100vh;
  width: 100vw;

}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;

}

.background-container{
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -101;
}


.pokedex {
  width: 100%;
  max-width: 900px;

}

.pokedex-mobile {
  display: none;

}

.pokemonImage {
  position: absolute;
  bottom: 44%;
  left: 19%;
  height: 20%;

}

.pokemonImage.static {
  bottom: 41%;
  left: 17%;
  height: 25%;

}

.pokemonData {
  position: absolute;
  width: 100%;
  padding: 5%;
  font-weight: 600;
  color: black;
  top: 0%;
  font-size: clamp(8px, 3vw, 25px)
}

.pokemonName {
  text-transform: capitalize;

}

.rightDisplayStatus,
.rightDisplayMoves,
.rightDisplayEncounter,
.rightDisplayAbility {
  position: absolute;
  z-index: 100;
  width: 32%;
  height: 48%;
  left: 59%;
  bottom: 22.2%;
  justify-content: center;
  display: flex;
  overflow: auto;
  border: #000 1px solid;
  border-radius: 11px;


}

.rightDisplayMoves::-webkit-scrollbar {
  width: 12px;
}

.rightDisplayMoves::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 12px;
}

.rightDisplayMoves::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 12px;
}

.rightDisplayAbility::-webkit-scrollbar {
  width: 12px;
}

.rightDisplayAbility::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 12px;
}

.rightDisplayAbility::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 12px;
}

.rightDisplayEncounter::-webkit-scrollbar {
  width: 12px;
}

.rightDisplayEncounter::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 12px;
}

.rightDisplayEncounter::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 12px;
}

.rightDisplayMoves .pokemonData{
  white-space: pre-line;
    font-size: 14px;
    line-height: normal;
    text-align: initial;
    overflow-wrap: break-word

}

.rightDisplayEncounter .pokemonData {
  white-space: pre-line;
  font-size: 14px;
  line-height: normal;
  text-align: initial;
  overflow-wrap: break-word
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rightDisplayStatus {
  background-color: #BDDCE6;

}

.rightDisplayMoves {
  background-color: #BDDCE6;

}

.rightDisplayEncounter {
  background-color: #BDDCE6;

}

.rightDisplayAbility {
  background-color: #BDDCE6;

}

.leftDisplayBackGround {
  position: absolute;
  z-index: -99;
  height: 40%;
  width: auto;
  left: 5%;
  bottom: 40%;
  justify-content: center;
  display: flex;
  background-color: #fff;

}


.rightDisplayMoves.pokemonData {
  white-space: pre-wrap;
  max-height: 200px;
  background-color: #6ab7f5;
}

.form {
  position: absolute;
  width: 37.5%;
  height: 6%;
  bottom: 23%;
  left: 7.5%;


}

.inputSearch {
  width: 100%;
  height: 100%;
  padding: 4%;
  outline: none;
  border: 0.15vw solid #222;
  border-radius: 5px;
  font-weight: 600;
  color: #222;
  font-size: clamp(8px, 3vw, 1rem);
  box-shadow: -0.1vw 0.2vw 0 #888, -0.2vw 0.35vw 0 #333;
  ;


}

.loadingAdvise{
  position: absolute;
  background-color: #ffffff;
  z-index: 105;
  left: 69%;
  bottom: 50%;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.loadingAdvise .loadingGif{
  background: url('../assets/icons/spinner.gif') no-repeat center center;
  background-color: #6890F0;
}

.buttons {
  position: absolute;
  bottom: 12%;
  width: 37.5%;
  left: 7.5%;
  display: flex;
  gap: 5%;
}

.buttons2 {
  position: absolute;
    bottom: 16.5%;
    min-height: 5%;
    width: 75%;
    left: 58%;
    display: flex;
    gap: 2%;
}

.buttons3 {
  position: absolute;
    bottom: 10%;
    min-height: 5%;
    width: 75%;
    left: 58%;
    display: flex;
    gap: 2%;

}

.buttonLeft {
  width: 50%;
  padding: 2.5%;
  border: 0.15vw solid #000;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: #444;
  box-shadow: -0.1vw 0.2vw 0 #222, -0.2vw 0.35vw 0 #000;
  ;
  font-size: clamp(8px, 6vw, 15px)
}

.buttonRight {
  width: 22%;
  border: 0.15vw solid #000;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: #444;
  box-shadow: -0.1vw 0.2vw 0 #222, -0.2vw 0.35vw 0 #000;
  ;
  font-size: 1.2em
}

.buttonLeft img {
  max-width: 10%;
}

.buttonLeft:active {
  box-shadow: inset -0.3vw 0.3vw 0 #222;
  transform: translate(-0.3vw, 0.3vw);
}

.buttonRightActive {
  box-shadow: inset -0.3vw 0.3vw 0 #222;
  transform: translate(-0.3vw, 0.3vw);
}

.statFull {
      width: 100%;
      display: flex;
      gap: 5%;
      justify-content: space-between;
      background-color: #fff;
      padding: 5px;
}

/* Estilo para a primeira .statFull */
.statFull:first-child {
  /* Seus estilos aqui */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Estilo para a última .statFull */
.statFull:nth-child(6) {
  /* Seus estilos aqui */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pokemonStats{
  padding: 10px;
  border-radius: 10px;
}

.total{
  margin-top: 2%;
}

.flat-stat {
  width: 37%;
  display: flex;
  font-weight: 600;
  font-size: 60%;
  justify-content: space-between;
  align-items: center;

}

.stats-container {
  width: 60%;
  border:  1px solid black;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
}

.skills {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: white;
  /* White text color */
}

.hp {
  width: 0;
  background-color: #FF0000;
}

.atk {
  width: 0;
  background-color: #F08030;
}

.def {
  width: 0;
  background-color: #F8D030;
}

.spAtk {
  width: 0;
  background-color: #6890F0;
}

.spDef {
  width: 0;
  background-color: #78C850;
}

.speed {
  width: 0;
  background-color: #F85888;
}

.move-table {
  width: 100%;
  /*border-collapse: collapse;*/
  margin-bottom: 20px;
  background-color: #999999;
  border-radius: 10px;  
  border: 2px solid #999999;
  padding: 5px;
}

.move-name {
  text-align: center !important;
}

.move-table th,
.move-table td {
  border: 1px solid #ffffff;
  padding: 3px;
  text-align: left;
}

.move-table th {
  background-color: #A8A878;
  color: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.move-table td {
  background-color: #ffffff;
  /*color: #0645ad;*/
  


  /*border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

.move-table th a,
.move-table td a {
  color: #FFF;
  text-decoration: none;
}

.move-table th a:hover,
.move-table td a:hover {
  text-decoration: underline;
}

.move-table th b {
  font-weight: bold;
}

.move-table tr:nth-child(odd) {
  background-color: #8C888C;
}

.move-table tr:nth-child(even) {
  background-color: #FFF;
}

.move-table td span.explain {
  font-size: 0.9em;
}

.move-table td small {
  font-size: 0.8em;
}

.move-table td ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.move-table td ul li {
  margin-bottom: 5px;
}

/* ENCOUNTER TABLE */

.encounter-table {
  width: 100%;
  /*border-collapse: collapse;*/
  margin-bottom: 20px;
  background-color: #999999;
  border-radius: 10px;
  border: 2px solid #999999;
  padding-bottom: 2px;
}

.encounter-name {
  text-align: center !important;
}

.encounter-table th,
.encounter-table td {
  border: 1px solid #ffffff;
  padding: 3px;
  text-align: left;
}

.encounter-table th {
  background-color: #A8A878;
  color: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.encounter-table td {
  background-color: #ffffff;
  /*border-top-right-radius: 10px;
  color: #0645ad;
  border-bottom-right-radius: 10px;*/
}

.encounter-table th a,
.encounter-table td a {
  color: #FFF;
  text-decoration: none;
}

.encounter-table th a:hover,
.encounter-table td a:hover {
  text-decoration: underline;
}

.encounter-table th b {
  font-weight: bold;
}

.encounter-table tr:nth-child(odd) {
  background-color: #8C888C;
}

.encounter-table tr:nth-child(even) {
  background-color: #FFF;
}

.encounter-table td span.explain {
  font-size: 0.9em;
}

.encounter-table td small {
  font-size: 0.8em;
}

.encounter-table td ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.encounter-table td ul li {
  margin-bottom: 5px;
}

/* INFO TABLE */

.info-table {
  width: 100%;
  /*border-collapse: collapse;*/
  margin-bottom: 20px;
  background-color: #999999;
  border-radius: 10px;
  border: 2px solid #999999;
  font-size: 15px;
  padding: 5px;
}

.info-name {
  text-align: center !important;
}

.info-table th,
.info-table td {
  border: 1px solid #ffffff;
  padding: 3px;
  text-align: left;
}

.info-table th {
  background-color: #A8A878;
  color: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-table td {
  background-color: #ffffff;
  
  /*color: #0645ad;*/


  /*border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

.info-table th a,
.info-table td a {
  color: #FFF;
  text-decoration: none;
}

.info-table th a:hover,
.info-table td a:hover {
  text-decoration: underline;
}

.info-table th b {
  font-weight: bold;
}

.info-table tr:nth-child(odd) {
  background-color: #8C888C;
}

.info-table tr:nth-child(even) {
  background-color: #FFF;
}

.info-table td span.explain {
  font-size: 0.9em;
}

.info-table td small {
  font-size: 0.8em;
}

.info-table td ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info-table td ul li {
  margin-bottom: 5px;
}

/* Media query para telas menores que 600px */
@media only screen and (max-width: 600px) {

.pokedex-normal{
    display: none;
}
.leftDisplayBackGround{
  left: 17%;
  height: 37%;
  bottom: 37%;
}

.stats-container {
  width: 60%;
}

.loadingAdvise {
  left: 35%;
  bottom: -30%;
}

.pokedex-container{
  display: flex;
      justify-content: center;
}
  
.pokedex-mobile {
      display: flex;
      width: 80%; 
}

.pokemonImage{
  left: 37%;
  height: 20%;
}

.pokemonImage.static{
  bottom: 41%;
  left:35%;
  height: 25%;
}

.rightDisplayStatus,
.rightDisplayMoves,
.rightDisplayEncounter,
.rightDisplayAbility {
  width: 66%;
  height: 53%;
  left: 17%;
  bottom: -62%;
  border: 1px solid black;
   
}

.buttons2 {
  left: 17%;
  bottom: -5%;
  gap: 1.5%;
}


.buttons3 {
  left: 51%;
  bottom: -5%;
  gap: 1.5%;
}

.buttonRight {
  width: 21%;
  font-size: .7em;
  
}

.form {
  width: 54%;
  bottom: 23%;
  left: 20%;
}

.buttons {
  bottom: 12%;
  width: 54%;
  left: 20%;
  display: flex;
  gap: 4%;
}

.flat-stat,.pokemonName,.pokemonNumber {
  font-size: 1.1em
}

.pokedex-mobile-buttom{
  background-color: #F23838;
  width: 72.7%;
  border: #000 1px solid;
  border-radius: 20px;
  height: 90%;
  position: absolute;
  left: 14%;
  bottom: -75%;
  z-index: -100;

}

.rightDisplayMoves .pokemonData {
  white-space: pre-line;
  font-size: 10px;
  line-height: normal;
  text-align: initial;
  overflow-wrap: break-word
}

.info-table{
  font-size: 12px;
}

.pokemonStats{
  font-size: 10px;
}

.skills{
  padding-top: 0;
}

.hp,.atk,.spAtk,.def,.spDef,.speed{
  height: 12px;
}

.statFull{
  padding: 4px;
}


}